<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
  <interface>
    {% for intf in interfaces %}
    <GigabitEthernet>
      <name>{{ intf.name | replace("GigabitEthernet", "") }}</name>
      <description>{{ intf.description }}</description>
      <ip>
        <address>
          <primary>
            <address>{{ intf.ipv4_address }}</address>
            <mask>{{ intf.ipv4_netmask }}</mask>
          </primary>
        </address>
      </ip>
      {% if not intf.enabled %}
      <shutdown/>
      {% endif %}
    </GigabitEthernet>
    {% endfor %}
  </interface>
</native>
