<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
  <ip>
    <route>
      {% for route in static_routes %}
      <ip-route-interface-forwarding-list>
        <prefix>{{ route.dest_prefix }}</prefix>
        <mask>{{ route.dest_netmask }}</mask>
        <fwd-list>
          <fwd>{{ route.next_hop }}</fwd>
        </fwd-list>
      </ip-route-interface-forwarding-list>
      {% endfor %}
    </route>
  </ip>
</native>
