{% if vlans %}
<native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">
  <vlan xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-vlan">
    {% for vlan in vlans %}
    <vlan-list>
      <id>{{ vlan.vlan_id }}</id>
      <name>{{ vlan.vlan_name }}</name>
    </vlan-list>
    {% endfor %}
  </vlan>
</native>
{% endif %}
